        div{
            
            padding-left: 10px;
            }
        .heading1{
            background-color:black;
            padding-top: 10px;
        }
        
        h1{    
                color:white;
                font-family: sans-serif;
                font-weight: normal;
                font-size: medium;
            }
        h4{   
                color: #f4f4f4;
                 margin-top:-10px; 
                
          }        
          
        h3{   
                font-size: 30px;
                font-family: sans-serif;
                color:black;
          }
            p{
                margin-top: 65px;
                font-family: sans-serif;
                color:grey;
            }
             
            #icons2{
                background-color: #EFE47C;
                height:54.98px;
                margin-top: -16px;
            }
            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
               
              }
              li{
                  display:inline;
                  color: grey;
              }
              #article1{
                float:right;
                text-align: right;
                margin-top: 20px;
                
              }
              .icons{
                  float:left;
                  margin-top: 20px;
              }
              
              a{
                  color:#BAB69A;
              }
              body{
                  font-family: sans-serif;
                  color: grey;
              }
              
    
   